@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Noticia+Text&display=swap');
body, html {
  margin: 0;
  font-family: 'Josefin Slab', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  background-color: #C2C793;
}