@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Noticia+Text&family=Pinyon+Script&display=swap');

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #C2C793;
  }
  
  .logo {
    font-family: 'HighFantasy', cursive;
    font-size: 48px;
    color: #405436;
  }
  
  .slogan {
    font-family: 'Pinyon Script', cursive;
    font-size: 24px;
    margin-top: 10px;
    color: #96AE81;
  }
  
  .login-box {
    width: 300px;
    padding: 20px;
    background-color: #7C9E8F;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .login-button {
    background-color: #405436;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .register-link {
    color: #96AE81;
  }
  
  .register-link:hover {
    color: #405436;
  }
  