@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Josefin+Slab&family=Noticia+Text&family=Pinyon+Script&display=swap');

.navlogo {
  font-family: 'Carter One', cursive;
  font-size: 50px;
  color: #405436;
  filter: blur(1px);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.navbar-container {
  background-color: #7C9E8F;
  border-bottom: #405436 20px groove;
}

.username {
  color: #405436;
}